body{
    color: #212121;
}

.header{
    margin-top: 20px;
}

.logo, .menu{
    display: inline-block;
}

.menu li{
    display: inline-block;
    padding: 0 25px;
}

.menu li a {
    color: #212121;
    text-decoration: none;
}

.menu li a.active {
    color: #2D76F9;
    font-weight: 700;
}

.logo-important{
    color: #2D76F9;
}